<ion-header>

  <ion-navbar>
    <ion-title>{{name}}-detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<span *ngFor="let item of totalitems; let i = index" >
    <ion-grid  *ngIf="i%3 ==0" class="no-padding">
        <ion-row>
          <ion-col col-4 >
              <ion-card class="quiz-game" [@slideInOut]="totalitems[i].state" (click)="flipInY(i)" [ngStyle]="{ 'display': 'totalitems[i].hide'}">
                    <ion-card-content [ngClass]="{'blanktext': (totalitems[i].state=='out')}">
                      {{totalitems[i].name}} 
                    </ion-card-content>
                  </ion-card>
          </ion-col>
          <ion-col col-4>
              <ion-card class="quiz-game" [@slideInOut]="totalitems[i+1].state" (click)="flipInY(i+1)" [ngStyle]="{ 'display': 'totalitems[i].hide'}">
                  <ion-card-content [ngClass]="{'blanktext': (totalitems[i+1].state=='out')}">
                      {{totalitems[i+1].name}} 
                  </ion-card-content>
                </ion-card>
          </ion-col>
          <ion-col col-4>
              <ion-card class="quiz-game" [@slideInOut]="totalitems[i+2].state" (click)="flipInY(i+2)" [ngStyle]="{ 'display': 'totalitems[i].hide'}">
                  <ion-card-content [ngClass]="{'blanktext': (totalitems[i+2].state=='out')}">
                      {{totalitems[i+2].name}}
                  </ion-card-content>
                </ion-card>

          </ion-col>
        </ion-row>
        <!-- <ion-row>
            <ion-col col-4>
                <ion-card class="quiz-game" >
                      <ion-card-content>
                        Quiz 1
                      </ion-card-content>
                    </ion-card>
            </ion-col>
            <ion-col col-4>
                <ion-card class="quiz-game">
                    <ion-card-content>
                      Quiz 2
                    </ion-card-content>
                  </ion-card>
            </ion-col>
            <ion-col col-4>
                <ion-card class="quiz-game">
                    <ion-card-content>
                      Quiz 3
                    </ion-card-content>
                  </ion-card>
  
            </ion-col>
          </ion-row> -->
          <!-- <ion-row>
              <ion-col col-4>
                  <ion-card class="quiz-game">
                        <ion-card-content>
                          Quiz 1
                        </ion-card-content>
                      </ion-card>
              </ion-col>
              <ion-col col-4>
                  <ion-card class="quiz-game">
                      <ion-card-content>
                        Quiz 2
                      </ion-card-content>
                    </ion-card>
              </ion-col>
              <ion-col col-4>
                  <ion-card class="quiz-game">
                      <ion-card-content>
                        Quiz 3
                      </ion-card-content>
                    </ion-card>
    
              </ion-col>
            </ion-row> -->
            <!-- <ion-row>
                <ion-col col-4>
                    <ion-card class="quiz-game">
                          <ion-card-content>
                            Quiz 1
                          </ion-card-content>
                        </ion-card>
                </ion-col>
                <ion-col col-4>
                    <ion-card class="quiz-game">
                        <ion-card-content>
                          Quiz 2
                        </ion-card-content>
                      </ion-card>
                </ion-col>
                <ion-col col-4>
                    <ion-card class="quiz-game">
                        <ion-card-content>
                          Quiz 3
                        </ion-card-content>
                      </ion-card>
      
                </ion-col>
              </ion-row> -->
      </ion-grid>
    </span>
</ion-content>
