page-staticgk-quiz-detail {

    .quiz-game{
        margin: 0px;
        width: 100%;
        height: 100px;
    }
    .blanktext{
        font-size: 0px;
    }
    .no-padding{
        padding: 0px;
    }
}
