page-staticgk-notes {
    .card-table {
        padding: 1px 5px;
    }
.bor{
    border-left : 2px solid lightgray;
}
.bor-full{
    border-left: 3px solid cornflowerblue;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
}
